<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>

    <div class="wrapper">

        <div class="bg-green">

        </div>

    </div>

    <!-- contenitore centrale  -->
    <div class="container-main" id="app">
        <!-- blocco di sinistra  -->
        <div class="col-sx">
            <!-- TOOLBAR profilo  -->
            <div>
                <div class="wr-profilo">
                    <div>

                        <img class="avatar-img" src="img/avatar_io.jpg" alt="avatar">
                    </div>
                    <div class="icone-wrapper">
                        <i class="fas fa-circle-notch"></i>

                        <i class="fas fa-comment-alt padd-10"></i>

                        <i class="fas fa-ellipsis-v padd-r-10"></i>

                    </div>
                </div>
            </div>

            <!-- BAR:notifiche -->
            <div class="sec-notification">
                <div class="wrap-bell">

                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notification-parag">

                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p class="underline">Attiva notifiche desktop</p>
                </div>
            </div>

            <!-- INPUT DI RICERCA CONTATTI -->
            <div class="wr-input">

                <div>
                    <input v-model="searchContact"  class="input-text" type="text" placeholder="Cerca o inizia una nuova chat">
                    <i class="fas fa-search pos-abs icon-search"></i>
                </div>

            </div>

            <!-- sezione (sinistra) chat: elenco contatti   -->
            <div class="bg-white">

                <ul>
                    <!--  -->
                    <li v-for=" contact in contactListForResearch" @click="toUserClick(contact)" class="dis-flex" :class="{selected: contact.avatar === activeUser.avatar }">
                        <div class="wr-img-chat">
                            <img class="img-chat" :src="contact.avatar" alt="avatar">
                        </div>
                        <div class="text-chat">
                            <h4>{{contact.name}}</h4>
                            <p>Non ci sono messaggi</p>
                        </div>
                    </li>
                    
                </ul>


            </div>
        </div>


        <!-- blocco di destra  -->
        <div class="col-dx">
            <!-- NAVBAR DEL CONTATTO CON IL QUALE VOGLIO CHATTARE -->
            <div class="utente-section">
                <div class="wr-img-chat ">
                    <img class="img-chat" :src="activeUser.avatar" alt="">
                </div>
                <div> 
                    <p>{{activeUser.name}}</p>
                    <p>Ultimo accesso alle ore {{activeUserLastAccess}}</p>
                </div>
               
                <div class="icone-wrapper">
                    <!-- icone -->
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip padd-10"></i>
                    <i class="fas fa-ellipsis-v"></i>

                </div>
            </div>

            <!-- PAGINA CHAT -->
            <div class="sec-message-utente">
                <div class="container-flex" v-for="message in activeUser.message">
                    <!-- messaggi INVIATI   -->

                    <div v-if="message.status=== 'sent'" class="green-mess-me">
                        <p>{{message.text}}</p>
                        <p>{{formatTime(message.date)}}</p>
                        <i class="fas fa-caret-right caret-absolute"></i>
                    </div>
                    <!-- messaggi RICEVUTI   -->
                    <div class="white-message" v-if="message.status === 'received'">
                        <p>{{message.text}}</p>
                        <p>{{formatTime(message.date)}}</p>
                        <i class="fas fa-caret-left caret-absolute-white"></i>
                    </div>
                    
                </div>
            </div>

            <!-- input SPAZIO PER SCRIVERE IL MSG DA INVIARE  -->
            <div class="input-section-utente">
                <div class="icon-smile">
                    <i class="far fa-smile"></i>
                </div>
                <div>
                    <input @keyup.enter="enterMsg" v-model="userMessage" class="input-message" type="text" placeholder="Scrivi un messaggio">
                </div>
                <div class="icon-microphone">
                    <i class="fas fa-microphone"></i>
                </div>
                
            </div>
        </div>
    </div>
    <script src="myScript.js"></script>
</body>

</html>