* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #dadbd5;
}
.wrapper {
    position: relative;
}
.bg-green {
    background-color: #009788;
    padding: 50px;
    position: absolute;
    top:0;
    right:0;
    left: 0;
    z-index: -1;
}
.container-main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.col-sx {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #dadbd5;
    height: 100vh;

}
.col-dx {
    width: 70%;
}
.avatar-img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    /* margin-left: 5px; */
}
.wr-profilo {
    display: flex;
    align-items: center;
    padding: 5px 0;  
}
.wr-profilo div {
    flex-grow: 1;
    padding: 0 15px 0 13px;

}
.icone-wrapper {
    color: gray;
    text-align: right;
}
.padd-10 {
    padding: 10px;
}
.padd-r-10 {
    padding-right: 10px;
}
.wrap-bell {
    /* color: #9de0fd;
    background-color:#feffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    margin-right: 10px; */
    padding: 0 15px 0 13px;
}

.sec-notification {
    display: flex;
    align-items: center;
    padding-top: 10px;
    background-color:  #9de0fd;
    padding-bottom: 10px;
    
}
.wrap-bell i {
    /* position: relative;
    transform: translateY(80%); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #9de0fd;
    background-color:#feffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;

}
.notification-parag p {
    font-size: 10px;
}
.notification-par p:first-of-type {
    font-weight: 600;
}
.underline {
    text-decoration: underline;
}

.input-text {
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    padding: 8px 0 8px 40px;
    border: none;
    font-size: 10px;
}
.wr-input {
    position: relative;
    background-color: #ededed;
    padding: 3px 13px;
}
.pos-abs {
    position: absolute;
    top: 10px;
    left: 20px;
  
}
.icon-search {
    font-size: 13px;
    color: gray;
}

.bg-white {
    background-color: #fff;
    flex-grow: 1;
}
.wr-img-chat {
    width: 70px;
    
    padding: 0 15px 0 13px;
}
.wr-img-chat img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bg-white ul li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid gray;
} 
.dis-flex {
    display: flex;
    align-items: center;
}
.text-chat {
    font-size: 14px;
}
.text-chat p:nth-last-child(1) {
    font-size: 10px;
    color: gray;
}
.flex-grow {
    flex-grow: 1;
}