* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #dadbd5;
}
.wrapper {
    position: relative;
    height: 100vh;
}
.bg-green {
    background-color: #009788;
    height: 150px;
    position: absolute;
    top:0;
    right:0;
    left: 0;
    z-index: -1;
}
.container-main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 90vh;
}
.col-sx {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #dadbd5;
    height: 100%;
}

.avatar-img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
}
.wr-profilo {
    display: flex;
    align-items: center;
    padding: 5px 0;  
}
.wr-profilo div {
    flex-grow: 1;
    padding: 0 15px 0 13px;
}
.icone-wrapper {
    color: gray;
    text-align: right;
    font-size: 14px;
}
.padd-10 {
    padding: 10px;
}
.padd-r-10 {
    padding-right: 10px;
}
.wrap-bell {
    padding: 0 15px 0 13px;
}

.sec-notification {
    display: flex;
    align-items: center;
    padding-top: 10px;
    background-color:  #9de0fd;
    padding-bottom: 10px;
}
.wrap-bell i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #9de0fd;
    background-color:#feffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.notification-parag p {
    font-size: 10px;
}
.notification-par p:first-of-type {
    font-weight: 600;
}
.underline {
    text-decoration: underline;
    cursor:pointer;
}

.input-text {
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    padding: 8px 0 8px 40px;
    border: none;
    font-size: 10px;
}
.wr-input {
    position: relative;
    background-color: #ededed;
    padding: 3px 13px;
}
.deleteIcon{
    position: absolute;
    top: 7px;
    right: 25px;
}
.pos-abs {
    position: absolute;
    top: 10px;
    left: 20px; 
}
.icon-search {
    font-size: 13px;
    color: gray;
}

.bg-white {
    background-color: #fff;
    flex-grow: 1;
    overflow: auto;
}

.wr-img-chat {
    width: 70px;
    padding: 0 15px 0 13px;
}
.wr-img-chat img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bg-white ul li {
    list-style: none;
    padding: 5px;
    position: relative;
    border-bottom: 1px solid gray;
} 
.dis-flex {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dis-flex:hover {
    background-color: grey;
    cursor: pointer;
}
.text-chat {
    font-size: 14px;
}
.text-chat p:nth-last-child(1) {
    font-size: 10px;
    color: lightgray;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.flex-grow {
    flex-grow: 1;
    overflow: auto;
}

/* sezione destra */
.col-dx {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #dadbd5;
    height: 100%;
}
.utente-section {
    display: flex;
    align-items: center;
    font-size: 10px;
    background-color: #ededed;
}

.utente-section div:last-of-type {
    padding-right: 10px;
}
.utente-section div:nth-of-type(2) {
    display: inline-block;
    flex-grow: 1;
}

.sec-message-utente {
    background-image: url(img/mine.jpg);
    flex-grow: 1;
    overflow: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}
.container-flex {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
} 
.input-section-utente {
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 8px 0;
}
.input-section-utente div:nth-of-type(2) {
    flex-grow: 1;
}
.icon-smile {
    padding: 2px 10px ;
}
.icon-microphone {
    padding: 2px 10px ;
}
.icon-paper {
    padding: 2px 10px;
}
.input-message {
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    padding: 10px 5px;
    border: none;
    font-size: 10px;
}
.msgSent{
    background-color:#3cb362;
    align-self: flex-end;
    padding: 20px;
    position: relative;
    font-size: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.msgReceived {
    align-self: flex-start;
    background-color:#fff;
    padding: 20px;
    position: relative;
    font-size: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.msgSent::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -6px;
    width: 0;   
    height: 0;
    border-style: solid;
    border-width: 2px 0 12px 12px;
    border-color: transparent transparent transparent #3cb462;
}
.msgReceived::after {
    position: absolute;
    font-size: 10px;
    content: "";
    top: 0px;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: #fafafa transparent transparent transparent;
}
i {
    cursor: pointer;
}
.selected {
    background-color: grey;
}
.btn-optional {
    position: absolute;
    top: 10px;
    right:5px;
}
.item-wrapp {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.wrapChevron {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: none;
}
.msgSent:hover div.wrapChevron {
    display: block;
}
.msgReceived:hover div.wrapChevron {
    display: block;
}
.noneOption {
    display: none;
}
.optionDeleteMsg {
    position: absolute;
    background-color: rgb(218 219 213 / 80%);
    bottom: 0;
    right: -10px;
    display: block;
    padding: 9px 5px;
}
.text-chat p {
    font-size: 10px;
} 
input:focus {
    outline: none;
}
ul.popupStandard li {
    list-style: none;
    width: 100px;
    cursor: pointer;
    padding: 5px;

}
